<section class="col-md-12 basket-item-wrap">
  <section class="col-md-3">
  </section>
  <section class="col-md-2 main-basket-row">
    <img class="basket-image" src="<%= inventory.product_images.first.photo.url %>">
  </section>
  <section class="col-md-2 main-basket-row">
    <h4 class="basket-product-name"><%= inventory.product.name %></h4>
    <h6 class="second-column-text"><%= inventory.size.size %></h6>
    <h6 class="second-column-text"><%= inventory.gender.sex %></h6>
    <h6 class="second-column-text"><%= inventory.colour.colour %></h6>
  </section>
  <section class="col-md-2 main-basket-row">
    <h4 class="main-basket-text basket-total-text"><%= number_to_currency(order_item.total_price, unit: "£") %></h4>
    <h6 class="basket-remove-text"><%= link_to "Remove", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.inventory.product.name.upcase}' from your cart?" }, method: :delete, remote: true, class: :remove } %></h6>
  </section>
  <section class="col-md-3">
  </section>
  <%= form_for order_item, remote: true do |f| %>
</section>
  <% end %>


<!--

  <table class="">
    <tr class="row-height">
      <th class="column-width"><h6 class="first-column-text">Colour</h6></th>
      <th class="column-width"><h6 class="second-column-text"><%= inventory.colour.colour %></h6></th>
    </tr>
    <tr class="row-height">
      <td class="column-width"><h6 class="first-column-text">Size</h6></td>
      <td class="column-width"><h6 class="second-column-text"><%= inventory.size.size %></h6></td>
    </tr>
    <tr class="row-height">
      <td class="column-width"><h6 class="first-column-text">Gender</h6></td>
      <td class="column-width"><h6 class="second-column-text"><%= inventory.gender.sex %></h6></td>
    </tr>
  </table> -->
