<h3 class="confirmation-title">Your payment has been accepted!</h3>


<p class="confirmation-text">Your confirmation has been sent to <b><%= @email %></b>. Please check your inbox for this.</p><br><br>

  <h4 class="confirmation-title">Delivery Details:</h4><br>

  <p class="confirmation-text">Name: <%= @name %><br>
  Address: <%= @address %><br>
  <%= @zip %><br>
  <%= @city %><br>
  <%= @country %><br><br>

  <h4 class="confirmation-title">Order:</h4><br>

  <p class="confirmation-text"><% @order_items.each do |item| %>
        <%= item.quantity %> X <%= item.inventory.product.name.upcase %>,
        <%= item.inventory.colour.colour.upcase %>,
        <%= item.inventory.size.size.upcase %>,
        <%= item.inventory.gender.sex.upcase %><br>
        <% end %></p><br>
  <h4 class="confirmation-title">Total: £<%= @order.total %></h4>
