<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <h1>ORDER RECEIVED FROM WEBSITE</h1>
    <p>A customer has just placed an order on your website</p>

    <h3>Recent order</h3>
    <h5>Delivery Address:</h5>

    <ul>
      <li>Customer name: <%= @name %></li>
      <li>Customer email: <%= @email %></li>
      <li>Customer Address: <%= @address %>, <%= @zip %>, <%= @city %>, <%= @country %></li>
    </ul>

    <h3>Order Details</h3>
    <ul>
    <% @order_items.each do |item| %>
      <li><%= item.quantity %> X <%= item.inventory.product.name.upcase %>,
        <%= item.inventory.colour.colour.upcase %>,
        <%= item.inventory.size.size.upcase %>,
        <%= item.inventory.gender.sex.upcase %></li>
    <% end %>
    </ul>
    <h5>Total: <%= @order.total %></h5>

  </body>

</html>
